<html>

<head>
  <style>
    body{
      background-color: url(../static/hamburger.jpg) no-repeat;
    background-size: cover;
  }
  
  </style>
   </head> 
  <body>
    

      <div> 
        <fieldset>
<!-- Contact Section -->
<div class="w3-container w3-padding-64" id="contact">
    <h1> Pre-Booking</h1><br>
    
    <form action="/savelink3" method="POST">  
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p>
      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="Date" value="2020-11-16T20:00"></p>
      
      <p><button class="w3-button w3-light-grey w3-section" type="submit">submit</button></p>
    </form>
  </div>
  <div> 
  </fieldset>
  </form >
</body>
  </html>
